<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home </title>
</head>
<body>
    <h1>this is home page</h1>
    <label for="reg">Register:</label>
    <a href="/reg"><button>click here</button></a> <br> <br>

    <label for="table">Table:</label>
    <a href="/read_tab"><button>click here</button></a> <br> <br>

    <label for="read">Read Data:</label>
    <a href="/read"><button>click here</button></a> <br> <br>
</body>
</html>