{% extends 'base.html' %}

{% block head %}
<title>{% block title %}About{% endblock %} - My Webpage </title>
{% endblock %}

{% block page %}
    <h2>About Us</h2>
    {% endblock %}

{% block content %}QSpiders is the world's ace software training organization with an aim to bridge the gap with centers across the globe, the institute is a platform where young minds are given the opportunities to build. <br>
"QSpiders is a place where bussiness find talent and dreams take flight."

{% endblock %}

{% block footer %}
{% endblock %} 