{% extends 'base.html' %}

{% block head %}
<title>{% block title %}Home{% endblock %} - My Webpage</title>
{% endblock %}

{% block content %} 
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae explicabo dolor amet, nisi debitis sunt aliquam vero libero modi reiciendis molestias ullam nobis cupiditate magni soluta illo doloremque, voluptate inventore. Rerum nihil ad molestias voluptatibus eligendi illum ipsam veniam voluptates, nisi totam autem soluta et hic aperiam culpa aspernatur sint labore cupiditate! Quae harum, inventore praesentium officia temporibus explicabo, reiciendis consectetur incidunt obcaecati labore fugiat ad omnis animi, eaque facere? Soluta blanditiis nostrum ullam maxime. Reiciendis nesciunt iusto ipsa, quod ipsum ullam aspernatur, rerum ex praesentium totam nobis perspiciatis id dolor dolorum! Vero amet quasi unde repudiandae repellat cumque. Suscipit.</p>
{% endblock %}

{% block footer %}
&copy; Copyright 2008 by <a href="{% url 'about' %}">About</a>
{% endblock %} 
