<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>

    <h1 align="center"> 
        Welcome
    </h1>
    <a href="{% url 'reg' %}"><button>Register</button> </a> <br><br>
    <a href="{% url 'view' %}"> <button>View</button>  </a><br><br>
    <a href="{% url 'get' %}"> <button>Get</button> </a> <br> <br>
    <a href="{% url 'edit' %}"> <button>Edit</button> </a> <br> <br>
    <a href="{% url 'delete' %}"> <button>Delete</button> </a> <br> <br>

</body>
</html>