<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View</title>
</head>
<body>

    {% if data %}

    <table  cellpadding="10px" align="center" border="2px" >

        <tr> <th>Name</th> <th>Age</th> <th>Phone</th> <th>Calss</th></tr>

        {% for i in data %}
        <tr>
            <td>{{ i.name }}</td>
            <td>{{ i.age }}</td>
            <td>{{ i.phone }}</td>
            <td>{{ i.clas }}</td>
        </tr>

        {% endfor %}
    </table>


    {% else %}
    <h1>
        ID Not Present in the Table
    </h1>

    {% endif%}
    
</body>
</html>