<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Programs</title>
</head>
<body>
    <h1 align="center">Programs</h1>
    <h3>your program is to check given number is prime or not</h3><br>
   
    <form action="">
        <label for="data"><b>enter a number:</b><input type="number" name="data" id="val"></label>
        <input type="submit" value="Submit">
        </form>

        <h2>{{data}}</h2>
   
</body>
</html>